#banner-background{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
    padding: 2px;
}
.banner-img-1{
    padding-top: 15%;
}
.mouse_click{
    padding-top: 10%;
}
#about-us{
    text-align: center;
    background-color: azure;
}
#services{
    background-image: url(../assets/backgrounds/s_image.jpg);
    height: auto;
    width: 100%;
    text-align: center;
    color: white;
}
#contact{
    background-image: url(../assets/backgrounds/c_image.jpg);
    height: auto;
    width: 100%;
}
#textInput{
    background: transparent;
    outline:none;
    box-sizing: none;
    box-shadow: none;
    border: 1px solid white;
    color: white;
}
#textInput::placeholder{
    color: white;
}
#what-we-do{
  text-align: center;
  background-color: azure;
  font-family: fantasy;  
}
p.class row text-center{
display: none;
}
.image{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    background: black;
    background: lightslategray;
    color: white;
    width: 100%;
    transition: .3sec;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.container:hover .overlay{
    opacity: 1;
}